# data
test_data/
# intermidiate files
bedfiles/
call_variants_output/
comparison.out/
example_files/
interval_list_out/
configs/

# output files
output_compare_outfiles/
postprocess_output/
# logs
.snakemake/
logs/
#docker images
*.sif
# java binaries
*.jar
